.main-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, darkturquoise, springgreen);
    font-family: Arial, Helvetica, sans-serif
}